.collections {
  margin-top: 80px;

  &-wrapper {
    display: flex;
    flex-direction: column;
    // margin-top: 32px;
    gap: 20px;

    @include media(900) {
      flex-direction: column;
      margin: 0;
      gap: 10px;
    }
  }

  &-row {
    width: 100%;
    @include flex(center, space-between);
  }

  &-head {
    width: 100%;
    // padding: 40px 0px 0px 0px;

    &_title {
      font-size: 42px;
      font-weight: 400;
    }

    &_filter_btn {
      gap: 8px;
      font-size: 16px;
      @include center();
      padding: 12px 28px;
      border: 1px solid $dark;
    }
  }

}


// .price-tag {
//   display: inline-block;
//   background-color: #fff;
//   padding: 22px 20px;
//   font-size: 24px;
//   font-family: Arial, sans-serif;
//   color: #333;
//   position: relative;
//   border: 1px solid #ebebeb;
// }

// .price-tag:before {
//   content: '';
//   position: absolute;
//   left: -20px;
//   top: 0;
//   width: 100px;
//   height: 100px;
//   // background: #000;
//   // border-top: 40px solid transparent;
//   // border-bottom: 40px solid transparent;
//   // border-right: 30px solid #fff;
//   // border-left: 100px solid #fff;
//   border: 1px solid #ebebeb;
// }

.price-tag {
  align-items: center;
  border: 1px solid #ebebeb;
  border-left: 0;
  display: flex;
  padding: 9px 12px 9px 8px;
  position: relative;
  white-space: nowrap;
  font-size: 14px;
  line-height: 22px;
  padding: 4px 7px 4px 3px;
}

.swiper-scrollbar.swiper-scrollbar-horizontal {
  bottom: 3px;
  height: 5px;
  left: 1%;
  position: absolute;
  width: 98%;
  z-index: 50;
}

.price-tag:before {
  border-color: transparent #ebebeb transparent transparent;
  border-style: solid;
  border-width: 20px 12px 20px 0;
  content: "";
  height: 0;
  left: -12px;
  position: absolute;
  top: -1px;
  width: 0;
}

.price-tag:after {
  border-color: transparent #fff transparent transparent;
  border-style: solid;
  border-width: 19px 11px 19px 0;
  content: "";
  height: 0;
  left: -11px;
  position: absolute;
  top: 0;
  width: 0;
  // border-width: 14px 8px 14px 0;
  // left: -8px;
}